$white: white;
$lightgray: #C1C1C1;
$gray: gray;
$darkgray: darkgray;
$black: #1a1a1a;
$red: red;
$purple-gray: rgb(65, 58, 78);
$steelblue: steelblue;
$lightsteelblue: lightsteelblue;

/* SideBar colors */
$sidebar-primary: $purple-gray;
$sidebar-contrast: $white;

/* Line Graph colors */
$line: $steelblue;
$grid-line: $lightgray;
$highlight: $red;

/* Tooltip colors */
$tooltip-color: $white;
$tooltip-background: $black;
