$white: white;
$darkgray: darkgray;
$red: red;
$purple-gray: rgb(65, 58, 78);
$steelblue: steelblue;
$lightsteelblue: lightsteelblue;

/* SideBar colors */
$sidebar-primary: $purple-gray;
$sidebar-contrast: $white;

/* Line Graph colors */
$line: $steelblue;
$highlight: $red;

/* Tooltip colors */
$tooltip-background: $white;
$tooltip-border: $darkgray;
