$white: white;
$lightgray: lightgray;
$slategray: #C1C1C1;
$gray: gray;
$darkgray: darkgray;
$black: #1a1a1a;
$red: red;
$anchor-purple: mediumpurple;
$purple-gray: rgb(65, 58, 78);
$steelblue: steelblue;
$lightsteelblue: lightsteelblue;

/* SideBar colors */
$sidebar-primary: $purple-gray;
$sidebar-contrast: $white;

/* Line Graph colors */
$line: $steelblue;
$grid-line: $slategray;
$highlight: $red;

/* Tooltip colors */
$tooltip-color: $white;
$tooltip-background: $black;

/* Dropdown colors */
$dropdown-color: $black;
$dropdown-background: $white;
$dropdown-color-highlighted: $white;
$dropdown-background-highlighted: $purple-gray;

$dropdown-section-header-color: $gray;
$dropdown-section-header-background: $white;

$dropdown-border: $gray;

/* Filter item colors */
$filter-color: $white;
$filter-background: $black;
$filter-delete: $lightgray;
$filter-delete-hover: $red;

$clear-filters-color: $red;
$clear-filters-background: $lightgray;
$clear-filters-color-hover: $white;
$clear-filters-background-hover: $red;
$clear-filters-background-active: darken($red, 10%);

/* Metric Section colors */
$metric-border: $gray;
$metric-color: $black;
$metric-color-hover: $anchor-purple;
$metric-background-hover: $white;
