#filters-section {
    input#start-date,
    input#end-date {
        margin: 5px;
    }

    #filters {
        margin: 3px auto;

        & > * {
            display: inline-block;
            margin: 0 5px;
        }
    }

    #content-filter,
    #geo-filter {
        width: 250px;

        input {
            width: 250px;
        }

        .dropdown {
            position: absolute;
            width: 250px;
            border: 2px solid $dropdown-border;
            border-top: 0;
            z-index: 1;

            p {
                margin: 0;
            }
        }

        .section-header {
            color: $dropdown-section-header-color;
            background-color: $dropdown-section-header-background;
            font-weight: bold;
        }

        .search-result {
            color: $dropdown-color;
            background-color: $dropdown-background;
        }

        .highlighted {
            color: $dropdown-color-highlighted;
            background-color: $dropdown-background-highlighted;
            cursor: pointer;
        }

        .result-thumbnail {
            text-align: left;

            img, div {
                display: inline-block;
                vertical-align: middle;
            }

            div { 
                padding: 0 10px;
                max-height: 22.5px;
                max-width: 206px;
            }

            p {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }

    #added-filters {
        text-align: center;

        .added-filter {
            position: relative;
            display: inline-block;
            max-width: 250px;
            margin: 3px;
            padding: 7px;
            padding-right: 32px;
            background-color: $filter-background;
            color: $filter-color;
            text-align: center;
            border: 0;
            border-radius: 5px;
            opacity: .75;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }

            div.added-filter-title {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                line-height: 0;
                height: 20px;

                & > * {
                    display: inline-block;
                    vertical-align: middle;
                }

                div.filter-title-text {
                    line-height: 1.42857143;
                }
                
                div.country-flag {
                    max-height: 20px;
                    max-width: 35.5px;
                    padding: 0;
                    margin-right: 5px;
                }
            }

            button.remove-filter {
                position: absolute;
                top: 2px;
                right: 2px;
                height: 30px;
                width: 30px;
                padding: 0;
                border: 0;
                font-size: 22px;
                color: $filter-delete;
                background-color: transparent;

                &:hover {
                    color: $filter-delete-hover;
                }
            }
        }

        #clear-all-filters {
            display: block;
            margin: 3px auto;
            padding: 5px 12px;
            font-weight: bold;
            color: $clear-filters-color;
            background-color: $clear-filters-background;
            border: 2px solid $clear-filters-color;
            border-radius: 5px;
            opacity: .75;

            &:hover {
                color: $clear-filters-color-hover;
                background-color: $clear-filters-background-hover;
            }

            &:active {
                color: $clear-filters-color-hover;
                background-color: $clear-filters-background-active;
            }
        }
    }
}