#analytics-home-page {
    #overview-sections {
        border: 1px solid $border;
        line-height: 0;

        a {
            pointer-events: none;
        }

        .medium-overview-section {
            width: 50%;
        }

        .small-overview-section {
            width: calc(100% / 6);
        }

        .medium-overview-section,
        .small-overview-section {
            display: inline-block;
            position: relative;
            height: 150px;
            border: 1px solid $border;
            line-height: 1.42857143;
            vertical-align: top;
            pointer-events: auto;
    
            &:hover {
                background-color: $background-hover;
                color: $color-hover;
                text-decoration: none;
                cursor: pointer;
            }
    
            .loading-spinner {
                position: absolute;
                height: 30px;
                width: 30px;
                top: calc(50% - 15px); // 15px = half height of spinner
                left: calc(50% - 15px); // 15px = half width of spinner
            }
        }
    }
}