path.line {
    fill: none;
    stroke: $line;
    stroke-width: 2px;
}

circle.datum {
    fill: $line;
}

circle.highlight-datum {
    fill: $highlight;
}

circle.highlight-datum-outline {
    fill: none;
    stroke: $highlight;
}

.grid-line line {
    stroke: $grid-line;
}