div.metrics-section {
    margin: 5px;

    ul {
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            line-height: 0;
            border: 2px solid $metric-border;
            border-left: 0;
            vertical-align: top;
            
            &:first-child {
                border-left: 2px solid $metric-border;
            }
        }
    }

    a {
        text-decoration: none;
    }

    div.metric-tab {
        display: table-cell;
        vertical-align: middle;
        line-height: 1.42857143;
        width: 200px;
        height: 65px;
        color: $metric-color;

        &:hover {
            color: $metric-color-hover;
            background-color: $metric-background-hover;
        }
    }
}

.metric-title {
    font-size: 12px;
}

.metric-value {
    font-size: 22px;
}