#top-results-table {
    width: 960px;
    margin: 0 auto;
    table-layout: fixed;

    th, td {
        padding: 10px;
        text-align: right;
        border-bottom: 1px solid $table-border;
        word-wrap: break-word;

        &:first-child {
            max-width: 350px;
            width: 350px;
            text-align: left;
        }
    }

    .content-title {
        width: 300px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .column-selected {
        background-color: $selected-column;
    }
}