#top-results-table {
    margin: 0 auto;

    th, td {
        text-align: right;
        border-bottom: 1px solid $border;

        &:first-child {
            text-align: left;
        }
    }

    th, td {
        padding: 5px 10px;
        max-width: 200px;
        word-wrap: break-word;

        &:first-child {
            max-width: 350px;
        }
    }

    .content-title {
        padding: 5px 25px 5px 0;
        width: 300px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}