@import 'colors';
@import 'home';
@import 'linegraph';
@import 'sidebar';
@import 'tooltip';
@import 'views';

#analytics-app {
    input {
        height: 26.5px;
        border: 2px solid $gray;
    }

    #analytics-content {
        display: flex;
        margin: 0 auto;
        padding: 0 0 0 200px;
        width: 100%;
        text-align: center;

        & > * {
            width: 100%;
        }
    }
}