@import 'colors';
@import 'filters';
@import 'home';
@import 'linegraph';
@import 'metrics';
@import 'sidebar';
@import 'tooltip';

#analytics-app {
    input {
        height: 26.5px;
        border: 2px solid $gray;
    }

    .loading-spinner {
        position: fixed;
        height: 50px;
        width: 50px;
        top: calc(50% - 25px + 50px); // 25px = half height of spinner, 50px = half height of header
        left: calc(50% - 25px + 100px); // 25px = half width of spinner, 100px = half width of sidebar
    }

    #analytics-content {
        display: flex;
        margin: 0 auto;
        padding: 0 0 0 200px;
        width: 100%;
        text-align: center;

        & > * {
            width: 100%;
        }
    }
}