$white: white;
$lightgray: lightgray;
$gray: gray;
$black: #1a1a1a;

$anchorBlue: dodgerblue;

/* Page default colors */
$page-background: $lightgray;
$grid-border: $gray;
$primary: $black;
$contrast: $white;

/* Header colors */
$header-primary: $black;
$header-contrast: $white;
$header-title: $gray;

/* Selected video's shadow color */
$selected-shadow: $anchorBlue;