header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $header-primary;
    color: $header-title;
    width: 100%;

    #titlebar {
        height: 60px;

        img {
            height: 40px;
            width: 40px;
            margin: 10px;
            border-radius: 50%;
        }

        h3 {
            margin: 0;
        }
    }

    #titlebar > * {
        display: inline-block;
        vertical-align: middle;
    }

    #titlebar, #subscribe {
        display: inline-block;
    }

    #subscribe {
        float: right;
        margin: 10px;

        button {
            padding: 7px 14px;
            font-weight: bold;
            color: $contrast;
            background-color: $youtube-red;
            border: 2px solid $youtube-border;
            border-radius: 10px;

            &:hover {
                background-color: $youtube-lightred;
            }

            &:active {
                background-color: $youtube-red;
            }
        }
    }
}