header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $header-primary;
    color: $header-title;
    width: 100%;

    #titlebar {
        height: 60px;

        img {
            height: 40px;
            width: 40px;
            margin: 10px;
            border-radius: 50%;
        }

        h3 {
            margin: 0;
        }
    }

    #titlebar > * {
        display: inline-block;
        vertical-align: middle;
    }
}