header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1a1a1a;
    color: gray;
    width: 100%;

    #titlebar {
        height: 40px;

        h3 {
            padding-left: 20px;
        }
    }

    nav {
        height: 40px;

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            a, a:active, a:visited, a:focus {
                text-decoration: none;
                color: white;

                div {
                    padding: 10px 25px;
                }
            }

            a:hover {
                text-decoration: none;

                div {
                    background-color: white;
                    color: #1a1a1a
                }
            }
        }
        
        & > ul > li {
            display: inline-block;
            vertical-align: top;

            & > ul { 
                background-color: #1a1a1a;
                position: absolute;

                & > li {
                    display: block;
                }
            }
        }
    }
}