#playlist-page {
    #video-list {
        overflow-x: scroll;
        white-space: nowrap;
        margin: 0 auto;
        width: 640px;
        text-align: left;
    }

    div.playlist-video {
        display: inline-block;
        margin: 5px;
        cursor: pointer;
    }

    div.playlist-video:hover, div.selected {
        box-shadow: 0 0 10px $selected-shadow;
    }
}