#playlists-page {
    #playlists-list {
        border: 1px solid $grid-border;

        a {
            color: $primary;
        }
    }

    div.playlist-thumbnail {
        text-align: left;
        border: 1px solid $grid-border;

        & > * {
            display: inline-block;
            margin: 10px;
            vertical-align: middle;
        }

        &:hover {
            background-color: $contrast;
            color: $anchor;
        }
    }

    a#view-more {
        div {
            text-align: center;
            vertical-align: middle;
            border: 1px solid $grid-border;

            &:hover {
                background-color: $contrast;
            }
        }

        &:hover {
            text-decoration: none;
            color: $anchor;
        }
    }
}