#videos-page {
    #video-list {
        margin: 0 auto;
        width: 1000px;
        border: 1px solid $grid-border;

        a {
            color: $primary;
        }
    }

    div.video-result {
        text-align: left;
        border: 1px solid $grid-border;

        h4 { 
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p { font-size: 10pt; }

        & > * {
            display: inline-block;
            margin: 10px;
            vertical-align: middle;
            max-width: 775px;
        }

        &:hover {
            background-color: $contrast;
            color: $anchor;
        }
    }

    a#view-more {
        div {
            text-align: center;
            vertical-align: middle;
            border: 1px solid $grid-border;

            &:hover {
                background-color: $contrast;
            }
        }

        &:hover {
            text-decoration: none;
            color: $anchor;
        }
    }
}