@import 'colors';
@import 'header';
@import 'home';
@import 'navbar';

#app {
    width: 100%;
    margin: 0 auto;
    background-color: $page-background;

    .hidden {
        display: hidden;
    }

    #content {
        margin: 0 auto;
        padding-top: 100px;
        width: 1000px;
        text-align: center;
    }
}