@import 'colors';
@import 'header';
@import 'home';
@import 'navbar';
@import 'playlist';
@import 'playlists';

html, #app {
    background-color: $page-background;
}

#app {
    width: 100%;
    margin: 0 auto;

    .hidden {
        display: hidden;
    }

    #content {
        margin: 0 auto;
        padding-top: 100px;
        width: 1000px;
        text-align: center;
    }
}